form(action='/survey', method='POST', class='survey')
  
  
  label(for='survey-title') 설문지 제목
  input.form-control(type='text', id='survey-title', name='survey-title', placeholder='설문지 제목') 
  label(for='survey-desc') 설문지 설명
  input.form-control(type='text', id='survey-desc', name='survey-desc', placeholder='설문지 설명')
  label(for='endDate') 마감일
  input.form-control(type='date', id='endDate', name='deadline')
  
.qst
  .qst-type
    label(for='survey-title') 질문
    input.form-control(type='text', id='question', name='question', placeholder='질문') 
    label(for='category') 질문유형
    select.form-control(name='category')
      option(value='텍스트', selected) 텍스트
      option(value='단락 텍스트') 단락 텍스트
      option(value='객관식') 객관식
      option(value='확인란') 확인란
  .qst-body
  
button.btn.btn-primary.btn-lg.btn-block(id='srvsbm' type='submit') 저장
button(id='add') 항목추가
script.
  //- #question(type='text/template')
  //-   form(action='/survey', method='POST', class='survey')
  $("srvsbm").hide()
  $("#add").click(function(){
    var qst = $(".qst:first").clone(true)
    $('form').append(qst)
  });
  
